
<font color='red' size='5'>Decision Tree Classification:</font>

In [3]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs = df.drop('salary_more_then_100k',axis='columns')
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [5]:
target = df['salary_more_then_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [8]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [9]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [10]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [89]:
from sklearn import tree
import warnings

# Ignore warnings
warnings.filterwarnings("ignore")
model = tree.DecisionTreeClassifier()

In [90]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [91]:
model.score(inputs_n,target)

1.0


<font color='green' size='5'>Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?</font>

In [92]:
model.predict([[2,1,0]])

array([0], dtype=int64)



<font color='green' size='5'>Is salary of Google, Computer Engineer, Masters degree > 100 k ?> 100 k ?</font>

In [93]:
model.predict([[2,1,1]])

array([1], dtype=int64)


<font color='orange' size='5'>Spliting the data into Train and test</font>

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs_n,target,test_size=0.4)

In [105]:
X_train

    company_n  job_n  degree_n
1           2      2         1
6           0      2         1
7           0      1         0
12          1      0         0
15          1      1         1
11          1      2         1
3           2      0         1
8           0      0         0
4           2      1         0

In [106]:
X_test

    company_n  job_n  degree_n
13          1      0         1
2           2      0         0
9           0      0         1
5           2      1         1
10          1      2         0
14          1      1         0
0           2      2         0

In [107]:
y_train

1     0
6     0
7     0
12    1
15    1
11    1
3     1
8     0
4     0
Name: salary_more_then_100k, dtype: int64

In [108]:
y_test

13    1
2     1
9     1
5     1
10    1
14    1
0     0
Name: salary_more_then_100k, dtype: int64

In [109]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [110]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [111]:
X_test

    company_n  job_n  degree_n
13          1      0         1
2           2      0         0
9           0      0         1
5           2      1         1
10          1      2         0
14          1      1         0
0           2      2         0

In [112]:
y=model.predict(X_test)
y

array([1, 1, 0, 0, 1, 1, 0], dtype=int64)

In [113]:
model.score(X_test, y_test)

0.7142857142857143